<VirtualHost *:{{ http_port }}>
    ServerName {{ my_domain }}
    ServerAlias www.{{ my_domain }} 
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ my_domain }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>
</VirtualHost>
